html,
body {
    height: 100%;
}

.top {
    height: 60%;
}

.bottom {
    height: 40%;
}

.container {
    display: table;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing:2px;
}

.toprow,.bottomrow {
    height: 100%;
    display: table-row;
}

.no-float {
    float: none;
}

.livefeed {
    display: table-cell;
    background: white;
}

.map {
    display: table-cell;
    background: black;
}

.parking {
    display: table-cell;
    background: black;
}

h1 {
    color: white;
}

.occupied {
    text-align: center;
    font-size: 128px;
    color: blue;  
}

.free {
    text-align: center;
    font-size: 128px;
    color: green;
}

.info {
    text-align: center;
    font-size: 32px;
    color: white;
}

.percentage {
    margin: auto; 
    padding-top: 30px;
    width: 40%; 
    color: white;
}

.circles-text {
    font-size: 30px;
}

.circles-number {
    font-size: 60px;
}